/build/
/dist/
Thumbs.db
nbproject/build-native.xml~
javadoc.zip
persistence.xml
/src/META-INF/resources/bower_components/vertical-timeline-jwebswing/nbproject/private/
/javadoc/
/.jacocoverage/
/build
/target/
/out/
/**/.sonar/
**.jacocoverage/
**/*.iml
*.iml
*.versionsBackup
*.log
*.tlog