[submodule "guice-bom"]
	path = guice-bom
	url = https://github.com/GedMarc/guice-bom.git
[submodule "guice-core"]
	path = guice-core
	url = https://github.com/GedMarc/guice-core.git
[submodule "extensions/assistedinject"]
	path = extensions/assistedinject
	url = https://github.com/GedMarc/guice-assistedinject.git
[submodule "extensions/dagger-adapter"]
	path = extensions/dagger-adapter
	url = https://github.com/GedMarc/guice-dagger-adapter.git
[submodule "extensions/grapher"]
	path = extensions/grapher
	url = https://github.com/GedMarc/guice-grapher.git
[submodule "extensions/jmx"]
	path = extensions/jmx
	url = https://github.com/GedMarc/guice-jmx.git
[submodule "extensions/jndi"]
	path = extensions/jndi
	url = https://github.com/GedMarc/guice-jndi.git
[submodule "extensions/persist"]
	path = extensions/persist
	url = https://github.com/GedMarc/guice-persist.git
[submodule "extensions/servlet"]
	path = extensions/servlet
	url = https://github.com/GedMarc/guice-servlet.git
[submodule "extensions/spring"]
	path = extensions/spring
	url = https://github.com/GedMarc/guice-spring.git
[submodule "extensions/testlib"]
	path = extensions/testlib
	url = https://github.com/GedMarc/guice-testlib.git
[submodule "extensions/throwingproviders"]
	path = extensions/throwingproviders
	url = https://github.com/GedMarc/guice-throwingproviders.git
