language: java

jdk:
  - oraclejdk7
  - openjdk7
  - openjdk6

env:
  global:
    - secure: "WuvBM11o29dIluXelJpV1TFPqprFOlLEs6ES4LjvNKrtB/FT9g569Q63jnbg43ufs4fhQZKuqc3ue1KwZiWWozmkRTry8+2KimiCC0QRFc2UfWPy5BBlPepWahnkC5/CSnjQWtTVKzs67DobyCmAsU3mraOidQatXSpoOozGnNA="
  matrix:
    - LABEL=ant        CMD="ant dist test.dist" INSTALL="/bin/true"
    - LABEL=ant_no_aop CMD="ant -f build/no_aop/build.xml dist test.dist" INSTALL="ant no_aop"
    - LABEL=mvn        CMD="mvn verify --fail-at-end -Dsource.skip=true -Dmaven.javadoc.skip=true" INSTALL="mvn dependency:go-offline test clean --fail-never -DskipTests=true"

install:
  - ${INSTALL}

script:
  - ${CMD}

notifications:
  email:
    recipients:
      - google-guice-dev+ci@googlegroups.com

after_success:
  - ./generate-latest-docs.sh

branches:
  only:
    - master
