body, td { background-color: white; }

h1 td, h1, h2, h3, h4, h5, h6, div.topnav, 
div.sidenav, div.sidesearch, div.sidequote, div.bottomnav, div.footer, small, 
td#sidebartitle { font-family: arial,sans-serif; }

/* rules for the bottom navigation on the results page */ 
div.bottomnav { margin-top: 1ex; }

div.bottomnav a, span.bottomnav { font-size: 10pt; }

div.bottomnav a, span.big { font-size: 12pt; color: #0000cc; }

/* standard link colors */ 
a:link { color: #0000cc; }
a:visited { color: #551a8b; }
a:active { color: #ff0000; }


/* top part of the page */ 
div.topnav { margin-bottom: 0.1ex; }
h1 td { font-size: .95em; font-weight: bolder; }
h1 td { background-color: #669900; color: white; border: none; padding: 2pt; }
div.side { margin-right: 3ex; padding: 2pt; }
div.sidenav { }
div.sidesearch { margin-top: 1em; font-size: 0.75em; }
div.sidequote { text-align: center; margin-top: 1.5in; border-color: red; border-style: solid; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 0px; border-right-width: 0px; }
div.footer { text-align: center; color: #6f6f6f; padding: 3pt; }
/* sidebar on the right */ 
table.sidebarborder { margin: 3pt; margin-top: 1pt; }
td#sidebarcontent { background-color: #ffffff; }
/* color schemes for different sections of the site */ 
body.corporate h1 td, body.corporate table.sidebarborder td { background-color: #339966; }
body.corporate td#sidebartitle { background-color: #d8f1e4; }
body.siteowners h1 td, body.siteowners table.sidebarborder td { background-color: #ddad08; }
body.siteowners td#sidebartitle { background-color: #f1e4d8; }
body.search h1 td, body.search table.sidebarborder td { background-color: #336699; }
body.search td#sidebartitle { background-color: #d8e4f1; }
body.zealots h1 td, body.zealots table.sidebarborder td { background-color: #aa1002; }
body.zealots td#sidebartitle { background-color: #f1e4d8; }
body.gsa h1 td, body.gsa table.sidebarborder td { background-color: #F0C000; }
body.gsa td#sidebartitle { background-color: #fbeab5; }


body {
	font-family: arial, sans-serif;
	font-size: 83%;
	}

.leftcontent {
	float:left;
	width:175px;
	background:#fff;
	}

.topimage {
	margin-left:13px;
	margin-top:0px;
	padding:0px;
	}

.footerimage {
	margin-left:15px;
	margin-top:20px;
	padding:0px;
	}

.toc { 
	color: #ddad08; 
	font-weight:bold;
	}

.rightcontent {
	background:#fff;
	margin-left: 199px;
	}

p {
	margin-right: 5%;
	margin-left:3%;
	}

ol, ul {
	margin-right: 5%;
	margin-left:3%;
	}

h1 {
	font-size:130%;
	font-weight:bold; 
	margin-left:3%;
	margin-top:2em;
	}

h2 {
	font-size:120%;
	font-weight:bold;
	margin-left:3%;
	margin-top:2em;
	}

h3 {
	font-size:100%;
	font-weight:bold;
	margin-left:3%;
	margin-top:2em;
	}

h4 {
	font-size:90%;
	font-weight:bold;
	margin-left:3%;
	margin-top:1.5em;
	}

.title {
	background-color: #FEFADE; 
	border-top:1px solid #ddad08;
	font-weight:bold; 
	font-size:120%;
	text-align:left;
	margin-left:0;
	}

.subtitle {
	background-color: #FEFADE; 
	border-top:1px solid #ddad08;
	font-weight:bold; 
	font-size:120%;
	text-align:left;
	}

.toclinks, ul {
	margin-bottom:0px;
	margin-top:0px;
	}


.footer {
	text-align: center;
	}

code {
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	}

pre {
	background-color: #EEEEEE;
	border: 1px solid silver;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	margin-left:3%;
	padding: 3px;
	text-align:left;
	overflow: auto;
	}

.content {
	border-left:thin dotted #000;
	}

table {
	margin-left:3%;
	border: 1px solid #c3d9ff;
	border-spacing:0;
	}

th {
	font-weight:bold;
	text-align:left;
	margin-left:3%;	
	border-right: 1px solid #C3d9ff;
	border-bottom: 1px solid #C3d9ff;
	border-top: 1px solid #C3d9ff;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #aac8f6;
	}

td {
	border-right: 1px solid #C3d9ff;
	border-bottom: 1px solid #C3d9ff;
	background: #fff;
	text-align:left;
	margin-left:3%;	
	padding: 6px 6px 6px 12px;
	vertical-align:top;
	}

td.alt {
	background: #e8eefa;
	vertical-align:top;
	}

font  {
	margin-right: 5%;
	vertical-align:bottom;
	margin-left:3%;
	}

.tdfooter {
	margin-right: 5%;
	text-align:right;
	}

.i { 
	margin-left: 1em; 
	margin-right: 2em;
	}

.q { 
	margin: 0 10px 0 5px; 
	padding: 10px 0 0 10px; 
	color: #000; 
	background: url("../../images/quote.gif") no-repeat top left;
	}

.d {
	color:#999999;
	font-style:italic;
	font-size:83%;
	}

.tdheading {
	font-weight:bold; 
	font-size:120%;
	margin-left:3%;
	}

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
pre.prettyprint { padding: 10px; padding-left: 15px; border: 1px solid #888; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
  pre {overflow: visible}
}
